.switch {
  display: none;
}

.bar {
  z-index: 0;
  padding: var(--elmethis-scoped-padding);
  width: var(--elmethis-scoped-width);
  height: var(--elmethis-scoped-size);
  border-radius: calc(
    (var(--elmethis-scoped-size) + var(--elmethis-scoped-padding)) / 2
  );
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 2px rgb(0 0 0 / 10%);
  transition:
    opacity 300ms,
    background-color 300ms;
  background-color: rgb(128 128 128 / 25%);

  &.checked {
    background-color: var(--elmethis-scoped-color);
    opacity: 0.9;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.circle {
  z-index: 1;
  width: var(--elmethis-scoped-size);
  height: var(--elmethis-scoped-size);
  border-radius: 50%;
  position: absolute;
  top: var(--elmethis-scoped-padding);
  left: var(--elmethis-scoped-padding);
  transition:
    transform 300ms,
    opacity 300ms,
    background-color 300ms;
  background-color: rgb(255 255 255 / 90%);

  &.checked {
    transform: translateX(
      calc(var(--elmethis-scoped-width) - var(--elmethis-scoped-size))
    );
  }

  &.disabled {
    opacity: 0.5;
    background-color: rgb(128 128 128 / 100%);
  }

  &:hover {
    opacity: 0.8;
  }
}
