.icon {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  height: 1em;

  &::selection {
    filter: brightness(1000%);
    background-color: var(--color, rgba(black, 0.25));
  }

  [data-theme="dark"] & {
    color: var(--color, rgba(white, 0.7));

    &::selection {
      color: rgba(black, 0.7);
      background-color: var(--color, rgba(white, 0.25));
    }
  }
}
