.icon {
  display: block; /* Ensure it behaves like a block/inline-block */
  box-sizing: border-box;
  padding: 0.25rem;
  color: #555b67;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0.125rem rgb(0 0 0 / 30%);
  background-color: rgb(255 255 255 / 20%);

  :global([data-theme="dark"]) & {
    box-shadow: 0 0 0.125rem rgb(0 0 0 / 60%);
    background-color: rgb(0 0 0 / 20%);
    color: #b0b5be;
  }
}
