.icon {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 0.95lh;
  height: 0.95lh;

  &::selection {
    filter: brightness(1000%);
    background-color: var(--color, rgb(0 0 0 / 25%));
  }

  [data-theme="dark"] & {
    color: var(--color, rgb(255 255 255 / 70%));

    &::selection {
      color: rgb(0 0 0 / 70%);
      background-color: var(--color, rgb(255 255 255 / 25%));
    }
  }
}
