.blockquote {
  box-sizing: border-box;
  width: 100%;
  margin-block-start: var(--elmethis-margin-block-start);
  margin-inline: 0;
  background-color: oklch(
    from var(--elmethis-color-surface-raised) l c h / 12.5%
  );
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: oklch(
      from var(--elmethis-color-neutral-fg-strong) l c h / 50%
    );
  }
}

.body {
  box-sizing: border-box;
  padding: 2rem 1.5rem;
}

.icon {
  position: absolute;
  content: "";
  opacity: 0.5;
  color: var(--elmethis-color-neutral-fg-weak);

  &.icon-top-left {
    inset: 0.25rem auto auto 0.5rem;
  }

  &.icon-bottom-right {
    inset: auto 0.25rem 0.25rem auto;
  }
}
