.paragraph {
  transition: opacity 800ms;
  color: var(--color, var(--elmethis-color-text));
  background-color: var(--background-color, inherit);
  margin: 0;
  margin-block-start: var(--elmethis-margin-block-start);

  &::selection {
    color: rgb(255 255 255 / 70%);
    background-color: rgb(0 0 0 / 70%);
  }

  [data-theme="dark"] & {
    &::selection {
      color: rgb(0 0 0 / 70%);
      background-color: rgb(255 255 255 / 70%);
    }
  }
}
