.paragraph {
  transition: opacity 800ms;
  color: var(--elmethis-scoped-color, var(--elmethis-color-mono-fg));
  background-color: var(--elmethis-scoped-background-color, inherit);
  margin: 0;
  margin-block-start: var(--elmethis-margin-block-start);

  &::selection {
    color: var(--elmethis-color-mono-bg);
    background-color: var(
      --elmethis-scoped-color,
      var(--elmethis-color-mono-fg)
    );
  }
}
