.callout {
  position: relative;
  padding: 1rem;

  &::after {
    position: absolute;
    content: "";
    inset: 0 auto auto 0;
    height: 100%;
    width: 0.25rem;
    background-color: var(--callout-color);
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0 0 auto auto;
    height: 100%;
    width: 100%;
    background-color: var(--callout-color);
    opacity: 0.15;
    z-index: -1;
    pointer-events: none;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content {
  padding-block-start: 1rem;
  padding-block-end: 0.25rem;
}
