.progress {
  display: none;
}

@keyframes loading {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  49% {
    transform: scaleX(1);
    transform-origin: left;
  }

  51% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.container {
  width: 100%;
  height: var(--weight);
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.1);

  [data-theme="dark"] & {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.value {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transition: transform 800ms;
  transform: var(--scale-x, scaleX(0));
  transform-origin: left;
  background-color: var(--color, #555b67);

  [data-theme="dark"] & {
    background-color: var(--color, #b0b5be);
  }
}

.loading {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transform-origin: left;
  background-color: var(--color, #555b67);
  animation-name: loading;
  animation-duration: 1600ms;
  animation-iteration-count: infinite;

  [data-theme="dark"] & {
    background-color: var(--color, #b0b5be);
  }
}

.buffer {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transition: transform 400ms;
  transform: var(--scale-x, scaleX(0));
  transform-origin: left;
  background-color: var(--color, #555b67);
  opacity: 0.25;

  [data-theme="dark"] & {
    background-color: var(--color, #b0b5be);
  }
}
