.elm-toggle-theme {
  display: block;
  box-sizing: border-box;
  padding: 0.25rem;
  color: var(--elmethis-color-neutral);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0.125rem var(--elmethis-box-shadow-color);
  background-color: var(--elmethis-color-surface-raised);
  transition: background-color 100ms;

  &:hover {
    background-color: var(--elmethis-color-surface-sunken);
  }
}
