:root {
  --elmethis-color-primary: #b69545;
  --elmethis-color-primary-dark: #b69545;

  --elmethis-text-color-light: #606875;
  --elmethis-text-color-dark: #b0b5be;
  --elmethis-text-background-color-light: #eff0f2;
  --elmethis-text-background-color-dark: #25282e;

  --elmethis-margin-block: 0;
}
