/* 初期状態 */
.fade-enter {
  opacity: 0;
}

/* アニメーション中 */
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

/* 退出開始 */
.fade-exit {
  opacity: 1;
}

/* 退出中 */
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
