.original {
  position: relative;
}

.tooltip {
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  max-width: min(32rem, calc(100vw - 2rem));
  padding: 0.5rem 0;

  transition:
    opacity 200ms,
    transform 200ms;
}

.tooltip-enter {
  transform: scale(1);
  opacity: 1;
}

@starting-style {
  .tooltip-enter {
    transform: scale(0.95);
    opacity: 0;
  }
}
