.elm-modal {
  border: none;
  margin: auto;
  padding: 0;
  opacity: 0;
  transition: opacity 200ms;
  background-color: transparent;

  &.shown {
    opacity: 1;
    &::backdrop {
      opacity: 1;
    }
  }

  &::backdrop {
    opacity: 0;
    transition: opacity 200ms;
    background-color: transparent;
    background-color: oklch(from black l c h / 0.5);
  }
}
