.toggle {
  margin: 0;
  display: grid;
  transition: grid 200ms;
  overflow: hidden;
}

.toggle-closed {
  grid-template-rows: 3.5rem 0fr 2rem;
}

.toggle-open {
  grid-template-rows: 3.5rem 1fr 2rem;
}

.summary {
  box-sizing: border-box;
  padding-inline: 1rem;

  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 1rem;
  align-items: center;
  cursor: pointer;

  border: 1px solid rgba(black, 0.125);
  background-color: rgba(#3e434b, 0.05);

  [data-theme="dark"] & {
    border: 1px solid rgba(white, 0.125);
    background-color: rgba(#bec2ca, 0.1);
  }
}

.summary-open {
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom-color: transparent;
}

.summary-closed {
  border-radius: 0.25rem;
}

.chevron-icon {
  transition: transform 200ms;
}

.chevron-icon-open {
  transform: rotate(90deg);
}

.chevron-icon-closed {
  transform: rotate(0deg);
}

.plus-icon {
  height: 1rem;
  width: 1rem;
  transform-origin: center;
  transition: transform 200ms;
}

.plus-icon-open {
  transform: rotate(135deg);
}

.plus-icon-closed {
  transform: rotate(0deg);
}

.content {
  box-sizing: border-box;
  padding: 1rem;
  overflow: hidden;
  transition: opacity 200ms;

  border: 1px solid rgba(black, 0.125);
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: rgba(#3e434b, 0.0125);

  [data-theme="dark"] & {
    border-color: rgba(white, 0.125);
    background-color: rgba(#bec2ca, 0.025);
  }
}

.content-open {
  opacity: 1;
}

.content-closed {
  opacity: 0;
}
