.blockquote {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-block-start: var(--elmethis-margin-block-start);
  padding: 1.5rem 0.5rem 1.5rem 1.5rem;
  background-color: rgba(134, 142, 156, 0.05);

  border-left: 4px solid rgba(0, 0, 0, 0.2);

  [data-theme="dark"] & {
    border-left-color: rgba(190, 194, 202, 0.2);
  }
}

.cite {
  position: absolute;
  font-size: 0.75rem;
  line-height: 0.75rem;
  bottom: 0.5rem;
  right: 2rem;
}

.cite a {
  all: unset;
  color: #6987b8;
  padding: 0 0.25rem;
  border-radius: 0.125rem;
  cursor: pointer;
  transition: background-color 100ms;
}

.cite a:hover {
  background-color: rgba(105, 135, 184, 0.15);
}

.icon {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  fill: #868e9c;
}
