.text {
  font-size: var(--elmethis-font-size);
  color: var(--elmethis-color, #606875);
  background-color: var(--elmethis-background-color);

  &::selection {
    color: #cccfd5;
    background-color: var(--elmethis-color, #3e434b);
  }

  [data-theme="dark"] & {
    color: var(--elmethis-color, #b0b5be);

    &::selection {
      color: #3e434b;
      background-color: var(--elmethis-color, #cccfd5);
    }
  }
}

.link {
  all: unset;
  box-sizing: border-box;
  padding: 0 0.25rem;
  font-size: var(--font-size);
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  color: #6987b8;
  border-radius: 0.125rem;
  transition:
    background-color 200ms,
    color 200ms,
    opacity 200ms;

  &:hover {
    background-color: oklch(from #6987b8 l c h / 0.2);
  }

  &:active {
    opacity: 0.5;
  }

  &:visited {
    color: #9771bd;
    border-bottom: dashed 1px #9771bd;

    &:hover {
      background-color: oklch(from #9771bd l c h / 0.2);
    }
  }
}
