.block-image {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.125rem rgba(black, 0.1);
  transition: opacity 400ms;
  opacity: var(--opacity, 1);
  pointer-events: all;

  cursor: var(--cursor);
}

.fallback {
  width: 100%;
  height: 100%;
  inset: 0 0 auto auto;
  position: absolute;
  transition: opacity 400ms;
  opacity: var(--opacity, 1);
  pointer-events: none;
}

.caption-box {
  box-sizing: border-box;
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0.75;
  pointer-events: all;
  opacity: var(--opacity, 1);
  transition: opacity 400ms;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0 0 auto auto;
  z-index: 100;
  background-color: rgba(#23262a, 0.8);
  cursor: zoom-out;
}
