.text {
  color: var(--elmethis-scoped-color, var(--elmethis-color-neutral));

  &::selection {
    color: var(--elmethis-color-surface-raised);
    background-color: var(
      --elmethis-scoped-color,
      var(--elmethis-color-neutral)
    );
  }
}
