.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/*
:leave-from-class="fadeStyle['fade-leave-from']"
:enter-to-class="fadeStyle['fade-enter-to']"
:enter-active-class="fadeStyle['fade-enter-active']"
:leave-active-class="fadeStyle['fade-leave-active']"
:enter-from-class="fadeStyle['fade-enter-from']"
:leave-to-class="fadeStyle['fade-leave-to']"
*/

.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity 100ms;
}

.fade-slow-enter-active,
.fade-slow-leave-active {
  transition: opacity 500ms;
}
