.human-in-the-loop {
  display: grid;
  transition: grid-template-rows 200ms;
  overflow: hidden;
  gap: 1rem;

  grid-template-columns: auto;

  &.in-progress {
    grid-template-rows: auto 1fr 0fr 0fr;
  }

  &.executing {
    grid-template-rows: auto 0fr 1fr 0fr;
  }

  &.complete {
    grid-template-rows: auto 0fr 0fr 1fr;
  }
}

.message {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.in-progress-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.executing-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .button-container {
    box-sizing: border-box;
    padding: 0 0.125rem;
    overflow: hidden;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    .button-inner {
      display: inline-flex;
      justify-self: center;
      gap: 0.5rem;
    }
  }
}

.result-container {
  overflow: hidden;
}
