.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0;
  user-select: none;
}

.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  box-sizing: border-box;
  padding: 0.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition:
    background-color 100ms,
    opacity 100ms,
    transform 100ms;

  .icon {
    color: var(--elmethis-color-mono-fg);
  }

  &:hover {
    background-color: oklch(
      from var(--elmethis-color-primary-common-fg) l c h / 25%
    );
    transform: translateX(-1px) translateY(-1px);
  }

  &:active {
    opacity: 0.5;
    transform: translateX(1px) translateY(1px);
  }
}

.chunk {
  padding: 0 0.25rem;
}

.chevron {
  padding: 0 0.25rem;
  color: var(--elmethis-color-primary-fg);
}
