.toggle {
  margin-block-start: var(--elmethis-margin-block-start);
  display: grid;
  grid-template-rows: 3rem 0fr;
  grid-template-columns: 1px 1fr;
  grid-template-areas:
    "summary summary"
    "border content";
  gap: 1rem 2.5rem;
  transition: grid-template-rows 200ms;
}

.open {
  grid-template-rows: 3rem 1fr;
}

.summary {
  align-self: center;
  grid-area: summary;
  width: 100%;
  height: 2.5rem;
  box-sizing: border-box;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 200ms;

  &:hover {
    background-color: rgba(62, 67, 75, 0.05);
    [data-theme="dark"] & {
      background-color: rgba(190, 194, 202, 0.1);
    }
  }
}

.summary-left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 200ms;
  transform: rotate(0deg);
  transform-origin: center;

  &.open {
    transform: rotate(90deg);
  }
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 200ms;
  transform: rotate(0deg);
  transform-origin: center;

  &.open {
    transform: rotate(135deg);
  }
}

.border {
  grid-area: border;
  width: 1px;
  margin-left: 1.25rem;
  height: 100%;
  background-color: oklch(from gray l c h / 0.125);
}

.content {
  grid-area: content;

  display: block;
  overflow: hidden;

  opacity: 0;
  transition: opacity 150ms;
}

.content-open {
  border-width: 1px;
  opacity: 1;
}

.close {
  margin-block: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
}

.close-button {
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;

  user-select: none;
  cursor: pointer;
  opacity: 0.7;
  transition: background-color 100ms;
  border-radius: 0.25rem;

  &:hover {
    background-color: rgba(197, 101, 101, 0.15);
  }
}
