@keyframes appear {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(0);
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.elm-square-loading-icon {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(var(--elmethis-scoped-dimensions), auto);
  grid-template-rows: repeat(var(--elmethis-scoped-dimensions), auto);
  justify-content: start;
}

.square {
  width: calc(var(--elmethis-scoped-size) / var(--elmethis-scoped-dimensions));
  height: calc(var(--elmethis-scoped-size) / var(--elmethis-scoped-dimensions));
  animation-name: appear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-duration: var(--elmethis-scoped-duration);
  animation-delay: var(--elmethis-scoped-delay);
  background-color: var(--elmethis-color-primary);
}
