@keyframes loading {
  0% {
    background-position: 200% 0%;
  }

  33% {
    background-position: 100% 0%;
  }

  66% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.arrow {
  width: var(--size);
  height: var(--size);
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7) 0 50%,
    rgba(0, 0, 0, 0.2) 50%
  );
  background-size: 200% 100%;

  clip-path: polygon(
    50% 33%,
    0% 33%,
    0% 66%,
    50% 66%,
    50% 100%,
    100% 50%,
    50% 0%
  );

  [data-theme="dark"] & {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7) 0 50%,
      rgba(255, 255, 255, 0.2) 50%
    );
    background-size: 200% 100%;
  }
}

.loading {
  animation-name: loading;
  animation-duration: 1600ms;
  animation-iteration-count: infinite;
}

.normal {
  background: rgba(0, 0, 0, 0.7);
  transition: background 400ms;

  [data-theme="dark"] & {
    background: rgba(255, 255, 255, 0.7);
  }
}

.pending {
  background: rgba(0, 0, 0, 0.2);
  transition: background 400ms;

  [data-theme="dark"] & {
    background: rgba(255, 255, 255, 0.2);
  }
}
