.icon {
  display: block;
  box-sizing: border-box;
  padding: 0.25rem;
  color: #555b67;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);

  [data-theme="dark"] & {
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
    color: #b0b5be;
  }
}
