.text {
  color: var(--color, var(--elmethis-color-text));

  &::selection {
    color: var(--elmethis-color-selection-text);
    background-color: var(--color, var(--elmethis-color-selection-background));
  }
}
