.text {
  color: var(--elmethis-scoped-color, var(--elmethis-color-mono-fg));

  &::selection {
    color: var(--elmethis-color-selection-text);
    background-color: var(
      --elmethis-scoped-color,
      var(--elmethis-color-mono-fg)
    );
  }
}
