.tr {
  transition: background-color 200ms;

  &:nth-child(odd) {
    background-color: transparent;
  }

  &:nth-child(even) {
    background-color: rgb(0 0 0 / 1.5%);

    [data-theme="dark"] & {
      background-color: rgb(255 255 255 / 1.5%);
    }
  }

  &:hover {
    background-color: rgb(105 135 184 / 15%);

    [data-theme="dark"] & {
      background-color: rgb(105 135 184 / 15%);
    }
  }
}
