.common {
  padding: 0.75rem 1rem;
  color: light-dark(rgb(0 0 0 / 70%), rgb(255 255 255 / 70%));
  border-right: 1px dotted light-dark(rgb(0 0 0 / 15%), rgb(255 255 255 / 15%));

  &::selection {
    color: light-dark(rgb(255 255 255 / 70%), rgb(0 0 0 / 70%));
    background-color: light-dark(rgb(0 0 0 / 70%), rgb(255 255 255 / 70%));
  }

  &:last-child {
    border-right: none;
  }
}

.td {
  border-top: 1px solid light-dark(rgb(0 0 0 / 15%), rgb(255 255 255 / 15%));
}

.th {
  background-color: rgb(128 128 128 / 15%);
}
