.tr {
  transition: background-color 200ms;

  &:nth-child(odd) {
    background-color: transparent;
  }

  &:nth-child(even) {
    background-color: light-dark(rgb(0 0 0 / 1.5%), rgb(255 255 255 / 1.5%));
  }

  &:hover {
    /* Same in both themes. */
    background-color: rgb(105 135 184 / 15%);
  }
}
