.tr {
  transition: background-color 200ms;

  &:nth-child(odd) {
    background-color: var(--elmethis-color-surface-raised);
  }

  &:nth-child(even) {
    background-color: var(--elmethis-color-surface);
  }

  &:hover {
    background-color: var(--elmethis-color-surface-sunken);
  }
}
