.common {
  padding: 0.75rem 1rem;
  color: rgb(0 0 0 / 70%);
  border-right: 1px dotted rgb(0 0 0 / 15%);

  &::selection {
    color: rgb(255 255 255 / 70%);
    background-color: rgb(0 0 0 / 70%);
  }

  [data-theme="dark"] & {
    color: rgb(255 255 255 / 70%);
    border-right: 1px dotted rgb(255 255 255 / 15%);

    &::selection {
      color: rgb(0 0 0 / 70%);
      background-color: rgb(255 255 255 / 70%);
    }
  }

  &:last-child {
    border-right: none;
  }
}

.td {
  border-top: 1px solid rgb(0 0 0 / 15%);

  [data-theme="dark"] & {
    border-top-color: rgb(255 255 255 / 15%);
  }
}

.th {
  background-color: rgb(128 128 128 / 15%);
}
