.heading {
  color: var(--color, #3e434b);

  &::selection {
    color: #bec2ca;
    background-color: var(--color, #3e434b);
  }

  [data-theme="dark"] & {
    color: var(--color, #bec2ca);

    &::selection {
      color: #3e434b;
      background-color: var(--color, #bec2ca);
    }
  }
}
