.code {
  font-size: 1rem;
  line-height: 1.5rem;

  :global(.shiki),
  :global(.shiki span) {
    font-family:
      "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace !important;

    &::selection {
      background-color: oklch(from #cdb57b l c h / 25%);
    }

    [data-theme="dark"] & {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;

      &::selection {
        background-color: oklch(from #cdb57b l c h / 25%);
      }
    }
  }
}
