.code {
  font-size: 1rem;
  line-height: 1.5rem;

  :global(.shiki),
  :global(.shiki span) {
    font-family:
      "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace !important;

    *::selection {
      background-color: rgb(0 0 0 / 10%);

      [data-theme="dark"] & {
        background-color: rgb(255 255 255 / 15%);
      }
    }

    [data-theme="dark"] & {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
    }
  }
}
