.parent {
  container-type: inline-size;
  margin-block: var(--margin-block);
  border-radius: 0.25rem;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.1);
  overflow: hidden;

  transition:
    background-color 200ms,
    transform 200ms;

  &:hover {
    background-color: rgba(105, 135, 184, 0.1);
    transform: translateX(-0.125rem) translateY(-0.125rem);
  }

  &:active {
    background-color: rgba(89, 181, 124, 0.1);
    transform: translateX(0) translateY(0);
  }
}

.bookmark {
  all: unset;
  display: flex;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);

  [data-theme="dark"] & {
    background-color: rgba(0, 0, 0, 0.2);
  }

  flex-direction: row;
  height: 120px;

  @container (max-width: 700px) {
    flex-direction: column;
    height: auto;
  }
}

.image {
  overflow: hidden;
  height: 100%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 2 / 1;
  min-width: min-content;
  max-width: 35%;

  @container (max-width: 700px) {
    min-width: unset;
    max-width: unset;
    width: 100%;
  }
}

.typography {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem;
}

.title {
  display: inline;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.date {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  gap: 0.5rem;
}

.favicon {
  width: 16px;
  height: 16px;
}
