.toc {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  border-left-style: solid;
  border-left-width: 0.25rem;
  border-left-color: rgba(0, 0, 0, 0.1);

  [data-theme="dark"] & {
    border-left-color: rgba(255, 255, 255, 0.15);
  }
}

.link {
  all: unset;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  padding-left: var(--padding-left, 0.25rem);
  transition: background-color 200ms;
  cursor: pointer;

  &:hover {
    background-color: rgba(105, 135, 184, 0.2);
  }
}
